html {
	background: #00ECB9;
}

body{
	background: #00ECB9;
	text-align: center;
  color: #396;
  font-family: 'Avenir', BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
  font-size: 3rem;
  margin: 3rem 0 0 0;
}

#clockdiv {
	text-align: center;
	font-size: 7rem;
  font-weight: bold;
}

@media (max-width: 960px) {
  .has-margin-mobile {
    margin: -12px 20px;
  }
}

.smalltext{
	padding-top: .5rem;
	font-size: 1.5rem;
}
